*{
    margin: 0;
    padding: 0;
}
.containerCabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.icones{
    width: 30px;
    height: 30px;
    padding-right: 15px;
    
}
.containerNavCabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
    list-style: none;
    gap:30px;
}

.item1Cabecalho{
    margin-left: 40px;
}
.containerFooter{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}
main{
    min-height: 100vh;
}
.item3{
    margin-top: 14px;
    
}
.containerIcones{
    display: flex;
    margin-top: 8px;
    gap: 10px;
    list-style: none;
}
.pFoot{
    margin-left: 5px;
}
.linkEscrito{
    text-decoration: none;
}
.containerPrincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;

}
.pPrincipal{
    font-size: 23px;
    margin-left: 50px;
    margin-right: 23px;
}

.iconesSobreMim:hover{
    scale: 1.2;
}

.containerIconeSObreMim{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.iconesSobreMim{
    width: 150px;
    height: 150px;
    transition: 0.4s;
}
.iconesSobreMim:hover{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(37, 75, 199), 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(95, 153, 222);
    border-radius: 30px;
}

.h3SobreMim{
    margin-top: 40px;
    margin-left:90px;
    font-size: 24px;

}
.pSobreMim{
    margin-left: 70px;
    font-size: 18px;   
    margin-top: 60px;
}

h4{
    text-align:center;
    margin-top: 80px;
    font-size: 22px;
}

.cotainerCertificados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 100px);
    gap: 10px;

    border: 2px solid black
}
.itemCertificado{
    align-items: center;
}
.imgCertificado{
    width: 200px;
    height: 200px;
}