*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    background: transparent;
}


.containerCabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.icones{
    width: 30px;
    height: 30px;
    padding-right: 15px;
    
}
.containerNavCabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
    list-style: none;
    gap:30px;
}

.item1Cabecalho{
    margin-left: 40px;
}
.h1Cabecalho{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    letter-spacing: 3px;
}


.containerFooter{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}
main{
    min-height: 100vh;
}
.item3{
    margin-top: 14px;
    
}
.containerIcones{
    display: flex;
    margin-top: 8px;
    gap: 10px;
    list-style: none;
}
.pFoot{
    margin-left: 5px;
}
.linkEscrito{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: relative;
    bottom: 8px;
}
.containerPrincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;

}
.pPrincipal{
    font-size: 23px;
    margin-left: 50px;
    margin-right: 23px;
}

.iconesSobreMim:hover{
    scale: 1.2;
}

.containerIconeSObreMim{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
}

.iconesSobreMim{
    width: 150px;
    height: 150px;
    transition: 0.4s;
}
.iconesSobreMim:hover{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(37, 75, 199), 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(95, 153, 222);
    border-radius: 30px;
}

.h3SobreMim{
    margin-top: 40px;
    margin-left:90px;
    font-size: 24px;

}
.pSobreMim{
    margin-left: 70px;
    font-size: 18px;   
    margin-top: 60px;
}

h4{
    text-align:center;
    margin-top: 80px;
    font-size: 22px;
}

.containerCertificados{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
    margin-top: 60px;

}
.imgCertificado{
    width: 200px;
    height: 150px;
    border-radius: 35px;
   
}
.itemCertificado{
    transition: 0.2s;


}
.itemCertificado:hover{
    scale: 1.6;
}
.h2Projeto{
    margin-top: 30px;
    margin-left: 80px;

}

.imagePc{
    width: 250px;
    height: 200px;
    
}

.imgEarthIn:hover{
    opacity: 100%;
    
}

.containerProjeto{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px
    
}

.containerItemProjeto{
    display: flex;
    flex-direction: column;
    height: 200px;
}
.pEarth{
    position: relative;
    bottom: 187px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imgEarthIn{
    width: 236px;
    height: 114px;
    opacity: 20%;
    transition: 0.3s;
    
}
.link{
    position: relative;
    bottom: 186px;
    border-radius: 7px;
    left: 7px;
}
.imgEarthIn:hover{
    

    
}